
/*Estilos basicos*/
body{
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos-Barra-de-scroll*/
::-webkit-scrollbar { 
    width: 8px; 
    height: 100%; 
}

::-webkit-scrollbar-track { 
    background: rgb(214, 214, 214); 
}

::-webkit-scrollbar-thumb { 
    background: rgb(185, 185, 185);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover { 
    background: rgb(204, 204, 204); 
}

/*--------------Barra-Navegación--------------*/
.B-Navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1000;
}

.B-Navegacion a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logo{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0.5vw 0px 2vw;
}

.logo h3{
    font-weight: 800;
    font-size: 1.3vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0vw 0px 1vw;
}

.Login{
    display: flex;
    align-items: center;
    color: white;
    background: rgb(0, 0, 0);
    border-bottom-left-radius: 2vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 2vw 0px 2vw;
    transition: 0.2s;
}

.Login:hover{
    background: rgb(0, 109, 233);
}

.Login h3{
    font-size: 1.3vw;
    padding: 0px 1vw 0px 0vw;
}

/*------------Barra-Navegación-iconos-----------*/
.cont-Barra-N{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    z-index: 1000;
}

.cont-Barra-N div{
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0vw;
}

.cont-Barra-N div:hover{
    opacity: 80%;
}

.cont-Barra-N div h3{
    font-size: 1.2vw;
    padding: 0px 0px 0px 0.5vw;
}

/*------------------Sección-Portada-----------------------*/
.conte-1{
    width: 100%;
    display: flex;
    align-items: center;
    background: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 20vh 0vw 16.5vh 0vw;
}

.conte-2{
    margin: 0px 0px 0px 5vw ;
}

.conte-2 h2{
    font-size: 3.5vw;
    margin: 0px 8vw 0px 0px ;
}

.conte-2 p{
    color: rgb(44, 44, 44);
    font-size: 1.2vw;
    margin: 2vh 2vw 2.5vh 0px ;
}

.Metrica-logro{
    display: flex;
    align-items: center;
    margin: 0px 1vw 6vh 0px ;
}

.Metrica-logro h4{
    color: rgb(44, 44, 44);
    font-size: 1.3vw;
    margin: 0px 1.5vw 0px 0px ;
}

.Metrica-logro img{
    width: 2vw;
    margin: 0px 0.6vw 0px 0px;
}

.conte-2 a{
    color: black;
    outline: 2px solid black;
    border-radius: 2vw;
    text-decoration: none;
    font-size: 1.3vw;
    margin: 0px 0px 0px 0px ;
    padding: 2vh 3.5vw 2vh 3.5vw;
    transition: 0.3s;
}

.conte-2 a:hover{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    outline: 2px solid black;
}

.img-Pre1 img{
    width: 50vw;
    margin: 2vh 5vw 2vh 2vw ;
}

.barra-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.5vw 2vh 2vw;
    background: #ffffff;
}

.barra-cont h4{
    font-size: 1.2vw;
}

.barra-cont img{
    width: 1.8vw;
    margin: 0px 1vw 0px 0px;
}

.barra-cont img:hover{
    opacity: 70%;
}

.b-cnt-correo a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.b-cnt-correo a:hover{
    opacity: 80%;
}

/*------------------Contenido--------------------*/
.Sec1-Contenido{
    text-align: center;
    margin: 4vh 2vw 4vh 2vw;
    padding: 1vh 2vw 3vh 2vw;
    z-index: 0;
}

.Sec1-Contenido h2{
    font-size: 3vw;
    margin: 0vh 0vw 2.2vh 0vw;
}

.Sec1-Contenido p{
    color: rgb(87, 87, 87);
    font-size: 1.3vw;
    margin: 0vh 4vw 5vh 4vw;
}

.cont-Contenido{
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.contenedor { 
    border-radius: 0.5vw;
    position: relative;
    width: 80vw;
    overflow: hidden;
}

.contenedor img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.contenedor:hover img { 
    transform: scale(1.2); 
}

.texto { 
    text-align: start;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 100% 4vw 3vh 1.5vw ;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.466));
    color: white;
}

.texto:hover{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 89, 255, 0.664));
}

.texto h4{
    font-size: 1.6vw;
    margin: 0vh 0vw 1.5vh 0vw;
    color: white;
}

.texto p{
    font-size: 1.2vw;
    color: rgb(221, 221, 221);
    margin: 0vh 2vw 0vh 0vw;
}

/*------------------Resolucion-en-Tabletas---------------------*/

@media (width <= 912px){

/*--------------Barra-Navegación--------------*/
.B-Navegacion{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(228, 228, 228);
}

.logo{
    display: flex;
    align-items: center;
    padding: 0px 0vw 0px 3.5vw;
}

.logo svg{
    width: 6vw;
}

.logo h3{
    font-size: 3.5vw;
    padding: 0px 0vw 0px 2vw;
}

.Login{
    display: flex;
    align-items: center;
    border-bottom-left-radius: 4vw;
    padding: 0px 3.5vw 0px 3vw;
}

.Login svg{
    width: 6vw;
}

.Login h3{
    font-size: 3.5vw;
    padding: 0px 4vw 0px 0vw;
}

/*------------Barra-Navegación-iconos-----------*/
.cont-Barra-N{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgb(255, 255, 255);
    border-top: 2px solid rgb(228, 228, 228);
}

.cont-Barra-N div{
    display: block;
    text-align: center;
    margin: 0vh 0px 0vh 0px;
    padding: 1.5vh 0px 1.5vh 0vw;
}

.cont-Barra-N svg{
    width: 6vw;
}

.cont-Barra-N div h3{
    font-size: 3vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0vw;
}

/*------------------Sección-Portada-----------------------*/
.conte-1{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 16.5vh 0vw 10vh 0vw;
}

.conte-2{
    text-align: center;
}

.conte-2 h2{
    font-size: 7vw;
    margin: 0px 10vw 0px 10vw ;
}

.conte-2 p{
    font-size: 3vw;
    margin: 1.5vh 3vw 2.5vh 3vw;
}

.conte-2{
    margin: 0px 0px 0px 0vw ;
}

.Metrica-logro{
    display: flex;
    justify-content: center;
    margin: 0px 0px 4vh 0px ;
}

.Metrica-logro h4{
    font-size: 3.5vw;
    margin: 0px 1.5vw 0px 0px ;
}

.Metrica-logro img{
    width: 3vw;
}

.conte-2 a{
    color: black;
    outline: 2px solid black;
    border-radius: 5vw;
    text-decoration: none;
    font-size: 5vw;
    margin: 0px 0px 0px 0px ;
    padding: 1.5vh 8vw 1.5vh 8vw;
    transition: 0.3s;
}

.conte-2 a:hover{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    outline: 2px solid black;
}

.img-Pre1{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px ;
}

.img-Pre1 img{
    width: 75vw;
    margin: 0px 0px 4vh 0px ;
}

.barra-cont{
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    padding: 0px 1.5vw 7.5vh 2vw;
}

.barra-cont h4{
    display: none;
}

.barra-cont img{
    width: 4vw;
    margin: 0px 0vw 0px 0px;
}

.barra-cont img:hover{
    opacity: 70%;
}

.b-cnt-correo a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.b-cnt-correo a:hover{
    opacity: 80%;
}

/*----------------Seccio-Contenido-------------*/

.Sec1-Contenido{
    text-align: start;
    margin: 4vh 2vw 4vh 2vw;
    padding: 1vh 2vw 10vh 2vw;
}

.Sec1-Contenido h2{
    font-size: 5vw;
    margin: 0vh 0vw 1.8vh 0vw;
}

.Sec1-Contenido p{
    color: rgb(87, 87, 87);
    font-size: 2.8vw;
    margin: 0vh 0vw 3vh 0vw;
}

.cont{
    overflow: scroll;
}

.cont::-webkit-scrollbar{
    display: none;
}

.cont-Contenido{
    display: flex;
    gap: 2vw;
    width: 150vw;
    padding: 0px 2vw 0px 0px;
}

.contenedor { 
    border-radius: 0.5vw;
    position: relative;
    width: 80vw;
    overflow: hidden;
}

.contenedor img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.contenedor:hover img { 
    transform: scale(1.2); 
}

.texto { 
    text-align: start;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 100% 4vw 2vh 1.5vw ;
    color: white;
}

.texto h4{
    font-size: 3vw;
    margin: 0vh 0vw 1vh 0vw;
    color: white;
}

.texto p{
    font-size: 2vw;
    color: rgb(221, 221, 221);
    margin: 0vh 2vw 0vh 0vw;
}

}

/*------------------Resolucion-en-Moviles---------------------*/

@media (width <= 480px){

/*--------------Barra-Navegación--------------*/
.B-Navegacion{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    padding: 0px 0vw 0px 3.5vw;
}

.logo svg{
    width: 6vw;
}

.logo h3{
    font-size: 4vw;
    padding: 0px 0vw 0px 2vw;
}

.Login{
    display: flex;
    align-items: center;
    border-bottom-left-radius: 4vw;
    padding: 0px 3.5vw 0px 3vw;
}

.Login svg{
    width: 6vw;
}

.Login h3{
    font-size: 4vw;
    padding: 0px 4vw 0px 0vw;
}

/*------------Barra-Navegación-iconos-----------*/
.cont-Barra-N{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgb(255, 255, 255);
    border-top: 2px solid rgb(236, 236, 236);
    z-index: 1000;
}

.cont-Barra-N div{
    display: block;
    text-align: center;
    margin: 0vh 0px 0vh 0px;
    padding: 1.5vh 0px 1.5vh 0vw;
}

.cont-Barra-N svg{
    width: 7vw;
}

.cont-Barra-N div h3{
    font-size: 3vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0vw;
}

/*------------------Sección-Portada-----------------------*/
.conte-1{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 22vh 0vw 10vh 0vw;
}

.conte-2{
    text-align: center;
}

.conte-2 h2{
    font-size: 9vw;
    margin: 0px 8vw 0px 8vw ;
}

.conte-2 p{
    font-size: 3.5vw;
    margin: 1vh 5vw 2.5vh 5vw;
}

.conte-2{
    margin: 0px 0px 0px 0vw ;
}

.Metrica-logro{
    display: flex;
    justify-content: center;
    margin: 0px 0px 3.5vh 0px ;
}

.Metrica-logro h4{
    font-size: 4.5vw;
    margin: 0px 4.5vw 0px 0px ;
}

.Metrica-logro img{
    width: 5vw;
}

.conte-2 a{
    color: black;
    outline: 2px solid black;
    border-radius: 8vw;
    text-decoration: none;
    font-size: 6vw;
    margin: 0px 0px 0px 0px ;
    padding: 1.5vh 12vw 1.5vh 12vw;
    transition: 0.3s;
}

.conte-2 a:hover{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    outline: 2px solid black;
}

.img-Pre1{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px ;
}

.img-Pre1 img{
    width: 80vw;
    margin: 0px 0px 3.5vh 0px ;
}

.barra-cont{
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
    padding: 0px 1.5vw 8vh 2vw;
}

.barra-cont h4{
    display: none;
}

.barra-cont img{
    width: 6vw;
    margin: 0px 0vw 0px 0px;
}

.barra-cont img:hover{
    opacity: 70%;
}

.b-cnt-correo a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.b-cnt-correo a:hover{
    opacity: 80%;
}

/*----------------Seccio-Contenido-------------*/

.Sec1-Contenido{
    text-align: start;
    margin: 2vh 2vw 10vh 2vw;
    padding: 0vh 2vw 0vh 2vw;
}

.Sec1-Contenido h2{
    font-size: 5.8vw;
    margin: 0vh 0vw 1.3vh 0vw;
}

.Sec1-Contenido p{
    color: rgb(87, 87, 87);
    font-size: 3.5vw;
    margin: 0vh 0vw 2.3vh 0vw;
}

.cont{
    overflow: scroll;
}

.cont::-webkit-scrollbar{
    display: none;
}

.cont-Contenido{
    display: flex;
    gap: 2vw;
    width: 170vw;
    padding: 0px 0vw 0px 0px;
}

.contenedor { 
    border-radius: 0.5vw;
    position: relative;
    width: 80vw;
    overflow: hidden;
}

.contenedor img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.contenedor:hover img { 
    transform: scale(1.2); 
}

.texto { 
    text-align: start;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 100% 4vw 1.8vh 2vw ;
    color: white;
}

.texto h4{
    font-size: 3.6vw;
    margin: 0vh 0vw 1vh 0vw;
    color: white;
}

.texto p{
    font-size: 2.5vw;
    color: rgb(221, 221, 221);
    margin: 0vh 2vw 0vh 0vw;
}

}